<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Show Contacts Page</title>
</head>
<body>
<section>
    <div class="card ml-2 mr-2">
        <div class="card-body">
            <h1 class="text-center">Your All Contacts</h1>
            <div th:if="${totalPages==0}" class="mt-4 text-center">
                <h3 class="text-secondary">
                    You don't have any contacts added..!
                </h3>
                <a th:href="@{/user/add-contact}">
                    <button class="btn btn-info m-4">Add Contact Now</button>
                </a>
            </div>
            <div class="search-container my-4">
                <input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search your contacts">
                <div class="search-result border border-secondary">
                </div>
            </div>
            <table th:if="${totalPages!=0}" class="table">
                <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${contacts}">
                    <th scope="row" th:text="'SCMUSER_'+${c.cId}"></th>
                    <td>
                        <img th:src="@{'/img/'+${c.image}}" alt="" src="" class="my-profile-pic">
                        <span th:text="${c.name}"></span>
                    </td>
                    <td>
                        <a href="" th:href="@{'/user/'+${c.cId}+'/contact'}">
                            <span th:text="${c.email}"></span>
                        </a>
                    </td>
                    <td th:text="${c.phone}"></td>
                    <td>
                        <div class="d-flex">
                            <form th:action="@{'/user/update-contact/'+${c.cId}}" method="post">
                                <a href="#">
                                    <button class="btn btn-dark btn-sm mr-2">Update</button>
                                </a>
                            </form>
                            <a href="#" th:onclick="|deleteContact(${c.cId})|">
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav th:if="${totalPages!=0}" aria-label="Page navigation example">
                <ul class="pagination">
                    <li th:classappend="${currentPage==0?'disabled':''}" class="page-item"><a class="page-link"
                                                                                              th:href="@{'/user/show-contacts/'+${currentPage-1}}">Previous</a>
                    </li>
                    <li th:classappend="${currentPage==i-1?'active':''}"
                        th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a class="page-link"
                                                                                              th:href="@{'/user/show-contacts/'+${i-1}}"><span
                            th:text="${i}"></span></a></li>
                    <li th:classappend="${currentPage+1==totalPages?'disabled':''}" class="page-item"><a
                            class="page-link" th:href="@{'/user/show-contacts/'+${currentPage+1}}">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
</body>
</html>