<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Show Contacts Page</title>
</head>
<body>
<section>
    <div class="card m-2">
        <div class="card-body">
            <h1 class="text-center">Your All Contacts</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${contacts}">
                    <th scope="row" th:text="'SCMUSER_'+${c.cId}"></th>
                    <td th:text="${c.name}"></td>
                    <td th:text="${c.email}"></td>
                    <td th:text="${c.phone}"></td>
                    <td>
                        <button class="btn btn-dark btn-sm m-1">Update</button>
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>