body {
    background : #e2e2e2 !important;
}
.bg-primary {
    background : #10ac9d !important;
}
.banner {
    width : 100%;
    height : 93vh;
    color : white;
    background : linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)) ,url(../img/banner.jpg);
    background-size : cover;
}
.my-card {
    padding :  10px;
    background : #ffffff;
}
/* Sidebar CSS */
@media only screen and (max-width: 600px) {
    .sidebar {
        display : none;
        width : 80% !important;
        background : white;
        height : 100vh;
        position : fixed;
        padding-top : 20px;
    }
    .content {
        margin-left : 0% !important;
    }
}

.sidebar {
    width : 18%;
    background : white;
    height : 100%;
    position : fixed;
    padding-top : 45px;
    z-index : 9999999999999999999;
}
.sidebar a {
    display : block;
    width : 100%;
    padding : 10px 25px;
    text-decoration : none;
    color : #000000;
}
.sidebar a:hover {
    background : #75898e6b;
    color : black;
}
.sidebar .divider {
    height : 0.5px;
    width : 100%;
    background : #e2e2e2;
    margin-top : 10px;
}
.content {
    margin-left : 20%;
}
.sidebar .crossBtn {
    position : absolute;
    top : 0;
    right : 35px;
    font-size : 36px;
    cursor : pointer;
}
.my-profile-pic {
    width : 40px;
    height : 40px;
    border-radius: 50%;
    object-fit : cover;
}
.update-profile-pic {
    width : 150px;
    height : 150px;
    border-radius: 50%;
    object-fit : cover;
}
.search-container {
    position : relative;
}
.search-result {
    position : absolute;
    background : white;
    display : none;
    width : 100%;
    padding : 10px;
}
.active {
	background : #10ac9d!important;
	color : white!important;
}
/* login CSS */
.my-login-page .brand {
	width: 100px;
	height: 100px;
	overflow: hidden;
	/* border-radius: 50%; */
	margin : auto auto;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: relative;
	z-index: 1;
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	margin-top : 20px;
}

.my-login-page .card .card-title {
	margin-bottom: 10px;
    margin-top: 15px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}
.alert-box {
	margin-left : auto;
	margin-right : auto;
}

.inputs input {
	width: 60px;
	height: 50px;
}

.otp .form-control:focus {
	box-shadow: none;
	border: 2px solid #0e8c67e6;
}
.otp {
	margin-top: 25px;
}