body {
    background : #e2e2e2 !important;
}
.bg-primary {
    background : #10ac9d !important;
}
.banner {
    width : 100%;
    height : 93vh;
    color : white;
    background : linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)) ,url(../img/banner.jpg);
    background-size : cover;
}
.my-card {
    padding :  10px;
    background : #ffffff;
}
#login .container #login-row #login-column #login-box {
  margin-top: 60px;
  max-width: 600px;
  height: 420px;
  border: 1px solid #9C9C9C;
  background-color: #f8f9fa;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
/* Sidebar CSS */
@media only screen and (max-width: 600px) {
    .sidebar {
        display : none;
        width : 80% !important;
        background : white;
        height : 100vh;
        position : fixed;
        padding-top : 20px;
    }
    .content {
        margin-left : 0% !important;
    }
}

.sidebar {
    width : 18%;
    background : white;
    height : 100%;
    position : fixed;
    padding-top : 45px;
    z-index : 9999999999999999999;
}
.sidebar a {
    display : block;
    width : 100%;
    padding : 10px 25px;
    text-decoration : none;
    color : #000000;
}
.sidebar a:hover {
    background : #10ac9d;
    width : 80%;
    margin : 0% 10%;
    color : white;
}
.sidebar .divider {
    height : 0.5px;
    width : 100%;
    background : #e2e2e2;
    margin-top : 10px;
}
.content {
    margin-left : 20%;
}
.sidebar .crossBtn {
    position : absolute;
    top : 0;
    right : 35px;
    font-size : 36px;
    cursor : pointer;
}
.my-profile-pic {
    width : 40px;
    height : 40px;
    border-radius: 50%;
    object-fit : cover;
}
.update-profile-pic {
    width : 150px;
    height : 150px;
    border-radius: 50%;
    object-fit : cover;
}